body{
    background: #4ABDAC; 
}

.container{
    border: 0.5rem outset white;
    background: white;
    width: 60%;
    margin-top: 5%;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #009fda;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #009fda;
    cursor: pointer;
}

.bottom-buffer { margin-bottom:15px; }

.top-buffer { margin-top:15px; }

.vert-center { margin-bottom:8px; }

input { 
    text-align: center; 
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.rnd-btn{

  border-radius: 50%;
 
}

